{{^isPrimitiveType}}
  {{^isArray}}
    {{#isFile}}IO[Any]{{/isFile}}
    {{^isFile}}m.{{{dataType}}}{{/isFile}}
  {{/isArray}}
  {{#isUuid}}UUID{{/isUuid}} 
  {{#isArray}}
    List[{{#items}}{{>_dataTypeApi}}{{/items}}] 
  {{/isArray}}
{{/isPrimitiveType}}
{{#isPrimitiveType}}
  {{^isUuid}}
    {{#isFile}}IO[Any]{{/isFile}}                
    {{^isFile}}
      {{^isListContainer}}
        {{{dataType}}} 
      {{/isListContainer}} 
    {{/isFile}}
  {{/isUuid}}
{{/isPrimitiveType}}