import typer

{{#apiInfo}}{{#apis}}import @IMPORT_NAME@.api.{{classVarName}} as {{classVarName}}
{{/apis}}{{/apiInfo}}

app = typer.Typer()

{{#apiInfo}}{{#apis}}
app.add_typer({{classVarName}}.app, name="{{baseName}}"){{/apis}}{{/apiInfo}}

if __name__ == "__main__":
    app()