from datetime import date, datetime, timedelta
from typing import Optional, List, Dict
from typing import Any  # noqa
from typing_extensions import Literal
from uuid import UUID
{{#pydanticV2}}
from pydantic import BaseModel, ConfigDict, Field
{{/pydanticV2}}
{{^pydanticV2}}
from pydantic import BaseModel, Field, Extra
{{/pydanticV2}}


{{#models}}
{{#model}}

{{#allowableValues}}
from enum import Enum

class {{classname}}(str, Enum):
    """ {{ description }} """
{{#enumVars}}
    {{name}} = {{{value}}}{{^-last}}
{{/-last}}
{{/enumVars}}
{{/allowableValues}}

{{^allowableValues}}
class {{classname}}(BaseModel):
    """ {{ description }} """
{{#vars}}
{{#isEnum}}
    {{name}}: "Literal[{{#allowableValues}}{{#values}}'{{{this}}}'{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}}]" = Field({{#required}}...{{/required}}{{^required}}None{{/required}}, alias="{{baseName}}", description="{{ description }}")
{{/isEnum}}
{{^isEnum}}
    {{name}}: "{{^required}}Optional[{{/required}}{{>_dataTypeModel}}{{^required}}]{{/required}}" = Field({{#required}}...{{/required}}{{^required}}None{{/required}}, alias="{{baseName}}", description="{{ description }}")
{{/isEnum}}
{{/vars}}

{{#pydanticV2}}
    model_config = ConfigDict(extra="forbid")
{{/pydanticV2}}
{{^pydanticV2}}
    class Config:
        extra: Extra = Extra.forbid
{{/pydanticV2}}
{{/allowableValues}}

{{/model}}
{{/models}}
